In [1]:
import requests
import json
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
#Post Data
f = open('test.json')
data = json.load(f)


handeingabe = {
    "inserttime": "30-MAR-22 10:20:30.45 PM",
    "device1humidity": "42",
    "device1co2": "1000",
    "device1temp": "22",
    "device2humidity": "44",
    "device2co2": "1023",
    "device2temp": "22.4",
    "device3humidity": "44.5",
    "device3co2": "998",
    "device3temp": "23",
    "device3window1a": 0,
    "device3window2b": 1,
    "device3window3a": 0,
    "device3window4b": 1,
    "device3window5a": 0,
    "device1light": "2500",
    "device2light": "2650",
    "device3light": "1482",
    "device1battery": "3.45",
    "device2battery": "3.68",
    "device3battery": "3.78"
}

'''r = requests.post('https://glusfqycvwrucp9-db202202211424.adb.eu-zurich-1.oraclecloudapps.com/ords/sensor_datalake2/sens/any_sensor_data_entry/',auth=('SENSOR_DATALAKE2', 'smarTclassrooM2Da'), data=handeingabe)
r.url, r.text '''

('https://glusfqycvwrucp9-db202202211424.adb.eu-zurich-1.oraclecloudapps.com/ords/sensor_datalake2/sens/any_sensor_data_entry/',
 '')

In [10]:
data

{'INSERTTIME': '20.12.2013 17:45:12',
 'DEVICE1HUMIDITY': '42',
 'DEVICE1CO2': '1000',
 'DEVICE1TEMP': '22',
 'DEVICE2HUMIDITY': '44',
 'DEVICE2CO2': '1023',
 'DEVICE2TEMP': '22.4',
 'DEVICE3HUMIDITY': '44.5',
 'DEVICE3CO2': '998',
 'DEVICE3TEMP': '23',
 'DEVICE3WINDOW1A': '0',
 'DEVICE3WINDOW2B': '1',
 'DEVICE3WINDOW3A': '0',
 'DEVICE3WINDOW4B': '1',
 'DEVICE3WINDOW5A': '0',
 'DEVICE1LIGHT': '2500',
 'DEVICE2LIGHT': '2650',
 'DEVICE3LIGHT': '1482'}

In [3]:
#json Datei herunterladen
url = 'https://glusfqycvwrucp9-db202202211424.adb.eu-zurich-1.oraclecloudapps.com/ords/sensor_datalake2/sens/any_sensor_data_entry/'
r = requests.get(url, auth=('SENSOR_DATALAKE2', 'smarTclassrooM2Da'),params={"limit":50000}, allow_redirects=True)

open('Data_until_27.04.json', 'wb').write(r.content)

4853759

In [53]:
# Datei auslesen
f = pd.read_json('data.json')
f

,entryid,inserttime,device1humidity,device1co2,device1temp,device2humidity,device2co2,device2temp,device3humidity,device3co2,...,device3window2b,device3window3a,device3window4b,device3window5a,device1light,device2light,device3light,device2battery,device3battery,device1battery
0,571,03.04.22 17:38:31.000000000,28.2227,380.310,22.8504,29.1061,463.420,22.8424,27.1774,487.383,...,0.0,0.0,0.0,0.0,3.86358,3.14133,3.87348,NaN,NaN,NaN
1,582,03.04.22 17:52:00.000000000,28.3035,382.223,22.8370,29.1656,463.725,22.8717,27.3193,479.100,...,0.0,0.0,0.0,0.0,3.16111,2.33497,3.30458,NaN,NaN,NaN
2,584,03.04.22 17:54:26.000000000,28.3371,377.235,22.8504,29.1229,459.467,22.8717,27.3605,481.705,...,0.0,0.0,0.0,0.0,3.17596,2.25087,3.38867,NaN,NaN,NaN
3,585,03.04.22 17:55:39.000000000,28.3035,374.046,22.8210,29.1931,461.687,22.8851,27.3926,481.663,...,0.0,0.0,0.0,0.0,3.11659,2.23108,3.41341,NaN,NaN,NaN
4,587,03.04.22 17:58:05.000000000,28.3676,374.371,22.8370,29.1931,458.860,22.8717,27.3605,480.725,...,0.0,0.0,0.0,0.0,3.01270,2.18161,3.30952,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35440,26929,22.04.22 11:38:30.000000000,NaN,NaN,NaN,30.1086,417.915,26.4046,28.0258,439.764,...,0.0,0.0,0.0,0.0,NaN,12.90170,13.04020,4.04443,4.02671,NaN
35441,26944,22.04.22 11:53:10.000000000,NaN,NaN,NaN,30.0476,425.131,26.5034,27.9938,437.026,...,0.0,0.0,0.0,0.0,NaN,12.88690,13.02540,4.04443,4.02832,NaN
35442,26945,22.04.22 11:54:09.000000000,NaN,NaN,NaN,30.0491,426.421,26.5328,27.9373,438.162,...,0.0,0.0,0.0,0.0,NaN,12.88190,13.05510,4.03960,4.02993,NaN
35443,26947,22.04.22 11:56:05.000000000,NaN,NaN,NaN,30.0217,424.836,26.5328,27.9236,438.396,...,0.0,0.0,0.0,0.0,NaN,12.89180,13.03530,4.04121,4.03154,NaN
35444,26951,22.04.22 11:59:58.000000000,NaN,NaN,NaN,30.0385,421.906,26.5888,27.9282,434.864,...,0.0,0.0,0.0,0.0,NaN,12.89180,13.06990,4.03315,4.03154,NaN